
header{
    background-image:url(../images/heroimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    min-height:100vh;
    width:100%;
    color:white;
}

.navigation_bar{
    display:flex;
    flex-wrap:nowrap;
    margin:10px;
    justify-content:space-evenly;
}

.logo{
    display:inline-flex;
    
}
.nav_item--norm{
    align-self:center;
    margin-left:10vw;
}
.nav_item--button{
    margin-left:10vw;
    align-self:center;

}

.location_button{
    border-radius:15px;
    color:white;
    background-color:#1acc6a;
    border-color:transparent;
    padding:5px;
}
.hero_title{
    padding:10px;
    height:min-content;
    width:70vw; 
    display:inline-flex;
    font-size:3em; /*still have to fix margins and responsiveness*/
    margin-left:20px;
    margin-bottom:5vh;
}
.hero_description{
    padding:10px;   
    margin-left:20px;
    font-size:1.3em;
    margin-bottom:5vh;

}
#form{
    width:260px;
    height:20px;
    margin-left:20px;
    min-width:100px;
    border-radius:15px;
    background-color:#DEE9FF;
    padding:20px;
    border:1px solid #DEE9FF;
}
.searching{
    background-color:#1acc6a;
    border-radius:15px;
    padding:22px;

}
.benefits_section{
    display:flex;
    margin-left:10vw;
    margin-right:10vw;
    margin-top:10vh;
    padding:10px;
    justify-content:space-around;
    transition: box-shadow 0.3s ease-in-out;
    width:1200px;
    height:300px;
}
.benefits_section--last{
    margin-bottom:10vh;
}
.benefits_section:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.32);
}
.benefits{
    min-width:300px;
}
.benefits_title{
    color:#043CAA;
    font-size:2em;
    font-weight:bold;
}
ul{
    list-style-type:none;
    line-height:2;
}
li{
    font-size:1.4em;
}
.perscription_button{
    border-radius:15px;
    padding:5px;
    margin-left:2.5vw; /* still have to animate button use some js functionality*/
    font-weight:bold;
    --raise-distance: 3px; /* css custom properties*/
    --hover-shadow: var(--raise-distance) var(--raise-distance) 3px /*for shadow spread*/ #0c9047;
    --bg-color:#1BC768;
    --border-color: #1BC768;; /* why border doesnt appear*/
    --text-color: #ffffff; /* could use as a variable for many elements more consistency & reusability ( spec for dark light mode toggling) */
    color: var(--text-color); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 4px;
    padding: 2px 6px; /* the calc function is used for dynamic resizing based on other factors */
    border-radius: 12px;
    border: var(--border-size, 2px) /* flexible */ solid var(--border-color); /* this overrides the border this is why the first didn't appear*/
    background-color: var(--bg-color);
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
    will-change: box-shadow, transform; /* the browser can now prepare for these changes overuse=slower performance*/
    

}
.perscription_button:hover{
    transform: translateX(+3px);
    transform: translateY(-4px);
    box-shadow: var(--hover-shadow);
}
.bubble_img{
    width:300px;
    height:300px;
}
.partners{
    display: flex;
    flex-wrap: nowrap;
    overflow:hidden;
    padding: 20px 20px;
    flex-direction:column;
    background:rgba(0, 0, 0, 0.088);
}
.ptitle{
    color:#043CAA;
    font-size:3em;
    align-self:center;
}
.partner{
    display:flex;
    overflow:hidden;
    flex-wrap:wrap;
    margin-left:10vw;
    margin-right:10vw;
    align-items: center;
    justify-content: center;
}
.partner img{
     margin-left:10px;
     height:100px;
     width:auto;
     margin-left: 20px;
     margin-right: 20px;
     min-width:90px;
}
.opinion{
    display:flex;
    margin-top:10vh;
    margin-left:10vw;
    margin-right:10vw;
    align-content:center;
    justify-content:space-evenly;
    flex-direction:row;
}
.op_img{
    min-width:190px;
    min-height:100px;
}
.opinion_card{
    display:inline-flex;
    align-items:center;
    flex-direction:column;
    justify-content:flex-start;
    padding:20px;
}
.opinion_card  h2{
    color:#043CAA;
    font-size:2em;
    margin-bottom:3vh;
}
.opinion_text{
    font-size:1em;
    font-weight:bold;
}
.client_name{
    color:#043CAA;
    font-weight: bold;
    align-self:flex-start;

}
.last_container{
    display:flex;
    flex-direction:column;
    margin-top:10vh;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    background-color: #043CAA;
}
.last_div--1{
    color:white;
    display:flex;
    align-items:flex-start;
    justify-content:space-evenly;
    padding:2vh;

}
.details_sub{
    flex-direction: column;
    align-content:flex-end;
    margin-right:5vw;

}
.subscribe{
    display:flex;
    align-content:center;
    justify-content:space-evenly;
    padding:10px;
    border-radius:15px;
    flex-direction:column;
}
.all_button{
    margin-top:2vh;
}
.sub{
    padding:10px;
    background-color:#40cb7f;
    border-radius: 15px;
    border:0px;

}
#sub{
    border-radius:15px;
    border:1px solid white;
    padding:10px;
}
.last_div--2{
    display:flex;
    align-content:flex-start;
    justify-content:center;
    color:white;
    padding:2vh;
    
}
.last_div--2{
    display:flex;
    align-content:flex-start;
    justify-content:space-evenly;
}
.list_final--1{
    margin-top:2vh;
}
.quick_links{
    list-style-type: none;
}

.quick_links li:first-child {
    font-weight:bold;
}
.location{
    list-style-type: none;
}
.location li:first-child{
    font-weight:bold;
}
.socials li:first-child{
    font-weight:bold;

}
.social_platform{
    text-decoration: none;
    color:white;
}
footer{
    background-color: #043CAA;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    color:white;
}
.pp{
   text-decoration:none;
   color:white;
   font-weight: bold;
}

@media screen and (max-width:600px) {
    .benefits_section{
        flex-wrap:wrap;
        gap:15px;

    }
    .bubble_img{
        width:200px;
        height:200px;
    }


}

@media screen and (max-width:470px) {
    header{
        background-size:contain;
    }
    .navigation_bar{
        flex-wrap:wrap;
    }
    .nav_item--norm{
        margin-left:5vw;
    }
    li{
        font-size:1em;
    }
    .opinion{
        flex-direction:column;
        align-items:center;
        justify-content:center;
   
       } 
    .last_div--2{
        flex-wrap:wrap;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
    }
    .last_div--1{
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;

    }
       
}
@media screen and (max-width:300px){
    .navigation_bar{
        flex-direction:column;
        align-items:flex-end;
        justify-content:center;
        margin-top:4vh;

    }

}
